{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <form action="{{ url_for('add_item') }}" method="POST">
      <div class="form-group">
        <table class="table">
          <thead class="thead-dark">
            <th>Title</th>
            <th>Status</th>
            <th>Complete</th>
            <th>Remove</th>
          </thead>
          {% for item in items %}
            <tbody>
              <tr {% if item.status == 'Complete' %} class="table-success" {% else %} class="table-secondary" {% endif %}>
                <td>{{ item.title }}</td>
                <td>{{ item.status }}</td>
                <td>
                  <form action="/complete_item" method="POST">
                    <input type="text" id="complete-item-{{item.id}}" name="id" value="{{item.id}}" hidden>
                    <input type="submit" value="Complete Item">
                  </form>
                </td>
                 </td>
                <td>
                  <a href="/remove/{{ item.id }}">
                   <button class="btn btn-dark" type="submit">Delete</button>
                  </a>
                </td>
              </tr>
            </tbody>
          {% endfor %}
        </table><br />
        <button class="btn btn-dark" type="submit">Update Status</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Create an item</h2>
    <form action="/create" method="POST">
      <div class="form-group">
        <div class="form-row">
          <label class="col-sm-2 col-form-label" for="title">Title</label>
          <div class="form-group col-md-6">
            <input required class="form-control" type="text" id="title" name="title" maxlength="280" placeholder="New to-do item">
          </div>
        </div>
        <button class="btn btn-dark" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}